@font-face{

    font-family: augusta;
    src: url('fonts/Augusta.ttf') format('truetype');

}


body {

    background-color:#3f3f3f;
    margin: 0px auto;

}

header {

    position: fixed;
    top: 0;
    left: auto;
    background-color: #3d3d3d;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    height: 80px;

}
nav{

    text-align: center;

}
#Menu{

    position: fixed;
    top: 2%;
    right: 2%;
    height: 50px;
    width: 50px;
    display: none;
    text-align: left;
    background-color: #3f3f3f;
    border-radius: 10px;
    color: #868686;
    font-family: augusta;

}

h1 {

    font-family: augusta;
    text-align: center;
    margin: 0px auto 5px;

}
header h1{

    color: #868686;

}
h2 {

    font-family: augusta;
    color: #3f3f3f;
    text-align: center;
    margin: 0px auto 5px;

}

nav > a {

    font-family: augusta;
    color: #868686;
    margin: auto 20px;
    text-decoration: none;
    font-size: 20px;

}
nav > a:hover{

    color: #252525;

}

main{

    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    padding-top: 100px;

}
#A{

    height: 80px;
    width: 400px;
    line-height: 80px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;

}
#img_socrates{

    background-image: url(imagem/Socrates.jpg);
    background-position: center center;
    background-size: cover;

}
#img_platão{

    background-image: url(imagem/platão.jpg);
    background-position: center center;
    background-size: cover;

}
.img{

    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 80%;
    height: 250px;

}

main p {

    margin: 20px ;
    margin-top: 0px;
    font-family: augusta;
    text-align: justify;

}

.descrição{

    text-align: center;
    margin: 0px 20px 10px;

}

#coragem {

    text-align: center;

}

main a{

text-decoration: none;
    
}

footer p{

    margin: 0px;
    text-align: center;

}
@media (max-width: 600px){

    #Menu{

        display: inline-block;

    }
    nav {

        display: none;

    }
    #navegation.active {

        display: block;
    
    }

}
