@font-face{

    font-family: augusta;
    src: url('fonts/Augusta.ttf') format('truetype');

}

body, ul{

    margin: 0px;
    padding: 0px;
    
}
a{
    
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    
}
a:hover{
    
    background: rgba(0,0,0,.05);
    
}
#btn_options{

    padding: 0px;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: none;

}
#logo{
    
    font-family: augusta;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    
}
header{
    
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    background: #3f3f3f;
    
}
#btn_menu{

    display: flex;
    padding: 0px;
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;

}
#btn_img-options{

    transition: .30s;
    transform: rotate(-180deg);

}
#btn_img-profiles.active{

    transition: .30s;
    transform: rotate(180deg);

}

#btn_img-profiles{

    transition: .30s;
    transform: rotate(-180deg);

}
#btn_img-profiles.active {

    transition: .30s;
    transform: rotate(180deg);

}
#menu_profiles{
    
    display: block;
    position: absolute;
    width: 25%;
    top: 70px;
    right: 0px;
    background: #3f3f3f;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    list-style: none;
    gap: .5rem;
    
}
#menu_profiles a{
    
    font-family: augusta;
    display: block;
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid rgba(0,0,0,.05);
    
}
#navegation.active #menu{
    
    height: calc(36px * 4);
    visibility: visible;

}

