@font-face{

    font-family: augusta;
    src: url('fonts/Augusta.ttf') format('truetype');

}


body {

    background-color:#3f3f3f;
    margin: 0px auto;

}

header {

    position: fixed;
    top: 0;
    left: auto;
    text-align: center;
    background-color: #252525;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    height: 80px;

}

h1 {

    font-family: augusta;
    color: #3f3f3f;
    text-align: center;
    margin: 0px auto 5px;

}
h2 {

    font-family: augusta;
    color: #3f3f3f;
    text-align: center;
    margin: 0px auto 5px;

}

nav > a{

    font-family: augusta;
    color: #3f3f3f;
    margin: auto 20px;
    text-decoration: none;
    font-size: 20px;

}
nav > a:hover{

    color: #252525;

}

main{

    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    padding-top: 80px;

}
#src_blk{

    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#resultado{

    margin: 0px auto 20px;
    display: block;
    background-color: #868686;
    border-color: #3f3f3f;

}
ul{

    width:200px ;
    height:300px ;
    margin: auto;

}
#A{

    height: 80px;
    width: 400px;
    line-height: 80px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;

}
#img_ph{

    min-width: 200px;
    max-width: 800px;
    height: 400px;
    background-image: url(imagem/Socrates.jpg);
    background-position: center bottom;
    background-size: cover;
    margin:auto;

}

main p {

    font-family: augusta;
    text-align: justify;
}

.descrição{

    text-align: center;
    margin: 0px 20px 10px;

}

#coragem {

    text-align: center;

}

img {

    margin: auto;

}


main a{

text-decoration: none;
    
}

footer p{

    margin: 0px;
    text-align: center;

}