@font-face{

    font-family: augusta;
    src: url('fonts/Augusta.ttf') format('truetype');

}


body {

    background-color:#3f3f3f;
    margin: 0px auto;

}

header {

    position: fixed;
    top: 0;
    left: auto;
    text-align: center;
    background-color: #3d3d3d;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    height: 80px;

}
#Menu{

    display: none;

}

h1 {

    font-family: augusta;
    text-align: center;
    margin: 0px auto 5px;

}
header h1{

    color: #868686;

}
h2 {

    font-family: augusta;
    color: #3f3f3f;
    text-align: center;
    margin: 0px auto 5px;

}

nav > a {

    font-family: augusta;
    color: #868686;
    margin: auto 20px;
    text-decoration: none;
    font-size: 20px;

}
nav > a:hover{

    color: #252525;

}

main{

    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    padding-top: 100px;

}
ul{

    width:200px ;
    height:300px ;
    margin: auto;

}
#A{

    height: 80px;
    width: 400px;
    line-height: 80px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;

}
#img_ph{

    min-width: 200px;
    max-width: 800px;
    height: 400px;
    background-image: url(imagem/Socrates.jpg);
    background-position: center top;
    background-size: cover;
    margin:10px auto;

}

main p {

    margin: auto 20px;
    font-family: augusta;
    text-align: justify;

}

.descrição{

    text-align: center;
    margin: 0px 20px 10px;

}

#coragem {

    text-align: center;

}

main a{

text-decoration: none;
    
}

footer p{

    margin: 0px;
    text-align: center;

}
@media (max-width: 600px){

    #Menu{

            display: inline-block;

    }
    nav a{

        display: none;

    }

}
