
body {

    background-color:#3f3f3f;

}

header {

    text-align: center;
    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto 200px;


}

h1 {

    text-align: center;

}

nav > a{

    color: #161616;
    margin: auto 20px;
    text-decoration: none;
    font-size: 20px;

}

main{

    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto 200px;

}

main p {

    text-align: center;

}

#coragem {

    margin: auto;
    text-align: center;

}

img {

    margin: auto;

}

footer{

    text-align: center;

}