
body {

    background-color:#3f3f3f;
    margin: 0px auto;

}

header {

    text-align: center;
    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto auto 5px;
    min-width: 400px;
    max-width: 800px;

}

h1 {

    text-align: center;
    margin: 0px auto 5px;

}

nav > a{

    color: #161616;
    margin: auto 20px;
    text-decoration: none;
    font-size: 20px;

}

main{

    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto;
    width: 800px;

}

main p {

    text-align: center;

}

#coragem {

    text-align: center;

}

img {

    margin: auto;

}


main a{

text-decoration: none;
    
}

footer{

    text-align: center;

}