
body {

    background-color:#3f3f3f;
    margin: 0px auto;

}

header {

    text-align: center;
    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto auto 5px;
    min-width: 400px;
    max-width: 800px;

}

h1 {

    text-align: center;
    margin: 0px auto 5px;

}
h2 {

    text-align: center;
    margin: 0px auto 5px;

}

nav > a{

    color: #161616;
    margin: auto 20px;
    text-decoration: none;
    font-size: 20px;

}

main{

    background-image: linear-gradient(to right,#3f3f3f,#868686,#3f3f3f);
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    padding-top: 20px;

}
#A{

    background-color: black;
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 20px auto;
    color: white;
    text-align: center;

}
#img_prime{

    text-align: center;
    color: white;
    background-color: black;
    width: 400px;
    height: 400px;
    margin:auto;
    margin-bottom: 20px;

}

main p {

    text-align: justify;
    margin: auto 20px;

}

.descrição{

    text-align: center;
    margin: 0px 20px 10px;

}

#coragem {

    text-align: center;

}

img {

    margin: auto;

}


main a{

text-decoration: none;
    
}

footer{

    text-align: center;

}